<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
    <div class="row">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:">{% block page_title %}{{ page_title }}{% endblock %}</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true">
            <form class="navbar-form navbar-right" method="POST">
              <input type="text" name="search-term" class="form-control" placeholder="Search...">
            </form>
          </div>
        </div>
      </nav>
    </div>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Poosition</th>
              <th>Salary</th>
            </tr>
          </thead>
          <tbody>
            {% for employee in employees %}
            <tr>
              <td>{{ employee.name }}</td>
              <td>{{ employee.email }}</td>
              <td>{{ employee.position }}</td>
              <td>{{ employee.salary }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <hr>
    {{ page_content }}
    {% block page_content %}{% endblock %}
  </body>
</html>
